In [1]:
import pandas as pd

In [9]:
ACN_csv = pd.read_csv('ACN.csv')

In [11]:
ACN_csv.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2017-01-03,103.707,104.086,102.328,102.894,2351600,0.0,0.0
1,2017-01-04,103.291,104.078,102.867,103.141,2639800,0.0,0.0
2,2017-01-05,103.353,103.495,101.560,101.595,3685400,0.0,0.0
3,2017-01-06,101.595,103.141,101.021,102.752,4125300,0.0,0.0
4,2017-01-09,102.611,102.797,101.533,101.604,2550800,0.0,0.0

In [15]:
BXP_csv = pd.read_csv("BXP.csv")

In [16]:
NOW_csv = pd.read_csv("NOW.csv")

In [17]:
VNO_csv = pd.read_csv("VNO.csv")

In [31]:
XEL_csv = pd.read_csv("XEL.csv")

In [19]:
BXP_csv.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2017-01-03,92.814,92.981,91.571,92.436,813900,0.0,0.0
1,2017-01-04,92.785,95.656,92.465,95.372,1323500,0.0,0.0
2,2017-01-05,94.631,96.339,93.584,95.830,1403000,0.0,0.0
3,2017-01-06,95.641,96.310,95.365,95.612,757500,0.0,0.0
4,2017-01-09,95.256,95.503,94.456,94.660,818800,0.0,0.0

In [32]:
XEL_csv.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2017-01-03,32.198,32.269,31.866,32.103,2065100,0.0,0.0
1,2017-01-04,32.174,32.388,32.087,32.245,2542600,0.0,0.0
2,2017-01-05,32.301,32.396,31.993,32.245,2611900,0.0,0.0
3,2017-01-06,32.119,32.451,32.095,32.340,1707400,0.0,0.0
4,2017-01-09,32.506,32.538,31.827,31.850,1840100,0.0,0.0

In [33]:
columnclose_XEL = XEL_csv["Close"]
columnclose_XEL.min()

np.float64(31.842)

In [29]:
columnclose_XEL.max()

np.float64(71.713)

In [34]:
columnclose_BXP = BXP_csv["Close"]
columnclose_BXP.min()

np.float64(57.307)

In [35]:
columnclose_BXP.max()

np.float64(116.436)

In [36]:
columnclose_ACN = ACN_csv["Close"]
columnclose_ACN.min()

np.float64(100.022)

In [37]:
columnclose_ACN.max()

np.float64(397.037)

In [40]:
columnclose_NOW = NOW_csv["Close"]
columnclose_NOW.min()

np.float64(75.66)

In [41]:
columnclose_NOW.max()

np.float64(701.73)

In [43]:
columnclose_VNO = VNO_csv["Close"]
columnclose_VNO.min()

np.float64(20.042)

In [44]:
columnclose_VNO.max()

np.float64(64.11)

In [46]:
are_equal = (ACN_csv["Close"] == ACN_csv["Open"]).all()
print(are_equal)

False

In [47]:
are_equal = (BXP_csv["Close"] == BXP_csv["Open"]).all()
print(are_equal)

False

In [48]:
are_equal = (NOW_csv["Close"] == NOW_csv["Open"]).all()
print(are_equal)

False

In [49]:
are_equal = (VNO_csv["Close"] == VNO_csv["Open"]).all()
print(are_equal)

False

In [50]:
are_equal = (XEL_csv["Close"] == XEL_csv["Open"]).all()
print(are_equal)

False

In [51]:
import numpy as np

In [59]:
ACN_returnslog = np.log(ACN_csv['Close'] / ACN_csv['Close'].shift(1))
print(ACN_returnslog)
min_val_ACNreturns = ACN_returnslog.min()
max_val_ACNreturns = ACN_returnslog.max()
median_val_ACNreturns = ACN_returnslog.median()
mean_val_ACNreturns = ACN_returnslog.mean()
print(min_val_ACNreturns)
print(max_val_ACNreturns)
print(median_val_ACNreturns)
print(mean_val_ACNreturns)

0            NaN
1       0.002398
2      -0.015103
3       0.011324
4      -0.011235
          ...
1505    0.005013
1506   -0.002937
1507   -0.008290
1508    0.019794
1509   -0.005755
Name: Close, Length: 1510, dtype: float64
-0.08763143183077308
0.12095180593145433
0.0013930038810569983
0.0006104962982985718

In [60]:
BXP_returnslog = np.log(BXP_csv['Close'] / BXP_csv['Close'].shift(1))
print(ACN_returnslog)
min_val_BXPreturns = BXP_returnslog.min()
max_val_BXPreturns = BXP_returnslog.max()
median_val_BXPreturns = BXP_returnslog.median()
mean_val_BXPreturns = BXP_returnslog.mean()
print(min_val_BXPreturns)
print(max_val_BXPreturns)
print(median_val_BXPreturns)
print(mean_val_BXPreturns)

0            NaN
1       0.002398
2      -0.015103
3       0.011324
4      -0.011235
          ...
1505    0.005013
1506   -0.002937
1507   -0.008290
1508    0.019794
1509   -0.005755
Name: Close, Length: 1510, dtype: float64
-0.18869245730238862
0.18998680708560495
0.00045496158578769145
-0.00028117061409061594

In [61]:
NOW_returnslog = np.log(NOW_csv['Close'] / NOW_csv['Close'].shift(1))
print(ACN_returnslog)
min_val_NOWreturns = NOW_returnslog.min()
max_val_NOWreturns = NOW_returnslog.max()
median_val_NOWreturns = NOW_returnslog.median()
mean_val_NOWreturns = NOW_returnslog.mean()
print(min_val_NOWreturns)
print(max_val_NOWreturns)
print(median_val_NOWreturns)
print(mean_val_NOWreturns)

0            NaN
1       0.002398
2      -0.015103
3       0.011324
4      -0.011235
          ...
1505    0.005013
1506   -0.002937
1507   -0.008290
1508    0.019794
1509   -0.005755
Name: Close, Length: 1510, dtype: float64
-0.13623838578319677
0.1261387512220047
0.0018905189581873893
0.0010837981144449394

In [62]:
VNO_returnslog = np.log(VNO_csv['Close'] / VNO_csv['Close'].shift(1))
print(ACN_returnslog)
min_val_VNOreturns = VNO_returnslog.min()
max_val_VNOreturns = VNO_returnslog.max()
median_val_VNOreturns = VNO_returnslog.median()
mean_val_VNOreturns = VNO_returnslog.mean()
print(min_val_VNOreturns)
print(max_val_ACNreturns)
print(median_val_VNOreturns)
print(mean_val_VNOreturns)

0            NaN
1       0.002398
2      -0.015103
3       0.011324
4      -0.011235
          ...
1505    0.005013
1506   -0.002937
1507   -0.008290
1508    0.019794
1509   -0.005755
Name: Close, Length: 1510, dtype: float64
-0.2784432037632497
0.12095180593145433
-0.00015352139734612928
-0.0007216275641733478

In [63]:
XEL_returnslog = np.log(XEL_csv['Close'] / XEL_csv['Close'].shift(1))
print(XEL_returnslog)
min_val_XELreturns = XEL_returnslog.min()
max_val_XELreturns = XEL_returnslog.max()
median_val_XELreturns = XEL_returnslog.median()
mean_val_XELreturns = XEL_returnslog.mean()
print(min_val_XELreturns)
print(max_val_XELreturns)
print(median_val_XELreturns)
print(mean_val_XELreturns)

0            NaN
1       0.004414
2       0.000000
3       0.002942
4      -0.015267
          ...
1505    0.012767
1506    0.008986
1507   -0.007234
1508    0.007069
1509   -0.013595
Name: Close, Length: 1510, dtype: float64
-0.13571373969682318
0.10667337280394802
0.000835574636703479
0.00047583500977970295

In [68]:
max_gain_index_ACN = ACN_returnslog.idxmax()
max_loss_index_ACN = ACN_returnslog.idxmin()
max_gain_date_ACN = ACN_csv.loc[max_gain_index_ACN, 'Date']
max_gain_value_ACN = ACN_returnslog.loc[max_gain_index_ACN]
max_loss_date_ACN = ACN_csv.loc[max_loss_index_ACN, 'Date']
max_loss_value_ACN = ACN_returnslog.loc[max_loss_index_ACN]
print(f"max gain log: {max_gain_value_ACN} il giorno {max_gain_date_ACN}")
print(f"maxloss log: {max_loss_value_ACN} il giorno {max_loss_date_ACN}")

max gain log: 0.12095180593145433 il giorno 2020-03-26
maxloss log: -0.08763143183077308 il giorno 2020-03-16

In [69]:
max_gain_index_BXP = BXP_returnslog.idxmax()
max_loss_index_BXP = BXP_returnslog.idxmin()
max_gain_date_BXP = BXP_csv.loc[max_gain_index_BXP, 'Date']
max_gain_value_BXP = BXP_returnslog.loc[max_gain_index_BXP]
max_loss_date_BXP = BXP_csv.loc[max_loss_index_BXP, 'Date']
max_loss_value_BXP = BXP_returnslog.loc[max_loss_index_BXP]
print(f"max gain log: {max_gain_value_BXP} il giorno {max_gain_date_BXP}")
print(f"maxloss log: {max_loss_value_BXP} il giorno {max_loss_date_BXP}")

max gain log: 0.18998680708560495 il giorno 2020-11-09
maxloss log: -0.18869245730238862 il giorno 2020-03-16